{% extends "base.html" %}

{% block content %}

<form action="/validate" method="post">
    <table>
        <tbody>
            <tr>
                <td>
                    <label>Username</label>
                </td>
                <td>
                    <input type="text" name="username" value="{{username}}" />
                    <span class="error"> {{ username_error_1 }}{{ username_error_2 }}
                    {{ username_error_3 }}{{ username_error_4 }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="password" name="password"/>
                    <span class="error">{{ password_error_1 }}{{ password_error_2 }}
                    {{ password_error_3 }}{{ password_error_4 }}{{ password_error_5 }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Verify Password</label>
                </td>
                <td>
                    <input type="password" name="verify_password"/>
                    <span class="error">{{ verify_error_1 }}{{ verify_error_2 }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email (optional)</label>
                </td>
                <td>
                    <input type="text" name="email" value="{{email}}" />
                    <span class="error"> {{ email_error_1 }}{{ email_error_2 }}
                    {{email_error_3}}{{ email_error_4 }}{{ email_error_5 }}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Submit"/>
</form>

{% endblock %}
